<script setup>
	import axios from 'axios';
	import { ref, onMounted, inject } from 'vue';
	import swal from 'sweetalert';
	import toastr from 'toastr';
	import 'toastr/build/toastr.css';
	

	// Variables 
  var result = ref(0)

  // FUnctions
  function formSubmit(event){
    const formData = new FormData(document.querySelector(`#add-form`));
    axios({
      url: `/arithmethic`,
      method: `post`,
      baseURL: `http://127.0.0.1:5000`,
      headers: {
        'Content-Type': 'application/json',
      },
      data: formData,
      responseType: 'json',
    }).then(response => {
        result.value = response.data.total;
        console.log(response.data.total)
        // notif(response.data.message, response.data.result);
        // console.log(`Form submitted successfully:`, response.data);
      })
      .catch(error => {
        console.error(`Error submitting the form:`, error);
      });
  }

</script>

<template>
	Add two Numbers
	<form @submit.prevent="formSubmit" id="add-form">
		<div class="col">
			<div class="row">
				<div class="inner-col">
					<h5><label class="green">First Number</label></h5>
          <input type="number" name="num_one" class="form-input">
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="inner-col">
					<h5><label class="green">Second Number</label></h5>
					<input type="number" name="num_two" class="form-input">
				</div>
			</div>
		</div>
		<div class="col">
			<button type="submit" class="submit-button">Add</button>
		</div>
	</form>
	<br>
	<form>
		<div class="col-100">
			<div class="row">
				<div class="inner-col">
					<h5><label class="green">Result: {{ result }}</label></h5>
				</div>
			</div>
		</div>
	</form>
</template>

<style scoped>
  .submit-button, .remove-button {
    background-color: #41B883;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: .5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .submit-button:hover, .remove-button:hover {
    background-color: #00BD7E;
  }

  .image-container img{
    width: 90%;
    height: 13rem;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }

  .image-container:hover .overlay {
    opacity: 1; /* Show the dark overlay on hover */
  }

  .image-container:hover .text-overlay {
    opacity: 1; /* Show the text overlay on hover */
  }

  .form-input{
    padding: .5rem;
    border: none;
    /*border-radius: .5px;*/
    outline: none;
    width: 90%;
  }

  .form-input:focus, .form-input:hover{
    outline: 2px solid #19b570;
  }

  form{
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: .1rem .1rem 5px rgba(0, 0, 0, .1), -.1rem -.1rem 5px rgba(0, 0, 0, .1), .1rem -.1rem 5px rgba(0, 0, 0, .1), -.1rem .1rem 5px rgba(0, 0, 0, .1);
  }

  .row{
    display: inline-flex;
    width: 100%;
  }

  .col-100{
    margin-top: 1.5rem;
    width: 100%;
  }

  .col{
    margin-top: 1.5rem;
    display: inline-flex;
    flex-direction: column;
    column-gap: 10px;
    width: 50%;
  }

  .inner-col{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
  }

  .download-link{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .submit-button, .remove-button{
    width: 90%;
  }
</style>