<script setup>
  import { inject } from 'vue'
  defineProps({
    msg: {
      type: String,
      required: true
    }
  });

  const globalVariables = inject('globalVariables');
  const VariableHelpers = inject('VariableHelpers');
  const FunctionHelpers = inject('FunctionHelpers');
  FunctionHelpers.greet();
</script>

<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}, {{ VariableHelpers.name }}</h1>
    <h3>
      <p> {{ VariableHelpers.vueMessage }} </p>
      <a href="https://vitejs.dev/" target="_blank" rel="noopener">{{ globalVariables.vite }}</a> +
      <a href="https://vuejs.org/" target="_blank" rel="noopener">{{ globalVariables.vue }}</a>.
    </h3>
  </div>
</template>

<style scoped>
  h1 {
    font-weight: 500;
    font-size: 2.6rem;
    position: relative;
    top: -10px;
  }

  h3 {
    font-size: 1.2rem;
  }

  .greetings h1,
  .greetings h3 {
    text-align: center;
  }

  @media (min-width: 1024px) {
    .greetings h1,
    .greetings h3 {
      text-align: left;
    }
  }
</style>
