<script setup>
  import axios from 'axios';
  import { ref, onMounted, inject } from 'vue';
  import swal from 'sweetalert';
  import toastr from 'toastr';
  import 'toastr/build/toastr.css';
  import '@fortawesome/fontawesome-free/css/all.css';
  const FunctionHelpers = inject('FunctionHelpers');
  // Variables
  var imageUrl = ref(`https://www.millionsacre.com/img/NoImgUploaded.jpeg`),
      fileInput = ref(null);
  let inputsForValidation = {
    VariableA: null,
    VariableB: null,
    VariableC: null,
    VariableD: null,
    Image: null,
  };
  // Custom Functions
  // Function for swal
  function notif(title, result){
    toastr[result](title);
  }
  // Function for image button click
  const openFileInput = () => {
    fileInput.value.click();
  };
  const clearFileInput = () => {
    fileInput.value.value = ``;
    inputsForValidation.Image = null;
    imageUrl.value = `https://www.millionsacre.com/img/NoImgUploaded.jpeg`;
  };

  function formSubmit(event){
    if(FunctionHelpers.hasNoEmptyInputs(inputsForValidation)){
      const formData = new FormData(document.querySelector(`#excel-form`));
      axios({
        url: `/process_data`,
        method: `post`,
        baseURL: `http://127.0.0.1:5000`,
        headers: {
          'Content-Type': 'multipart/form-data',
        },
        data: formData,
        responseType: 'json',
      }).then(response => {
          notif(response.data.message, response.data.result);
          // console.log(`Form submitted successfully:`, response.data);
        })
        .catch(error => {
          console.error(`Error submitting the form:`, error);
        });
    }
    // Other Headers Options
    /*
      'Content-Type': 'application/json'
      'Accept': 'application/json'
    */
  }

  // Download Url for anchor tag
  const downloadUrl = ref(`http://127.0.0.1:5000/download_file`);
  // console.log(fileInput.value.value);
  // On file input change
  function onFileChange(event) {
    imageUrl.value = URL.createObjectURL(event.target.files[0]);
    inputsForValidation.Image = fileInput.value.value;
    // console.log(fileInput.value.value);
  }
</script>

<template>
  <form @submit.prevent="formSubmit" id="excel-form">
    <div class="col">
      <div class="row">
        <div class="inner-col">
          <h5><label class="green">Variable A</label></h5>
          <input type="text" class="form-input" name="va" v-model="inputsForValidation.VariableA">
        </div>
      </div>
      <div class="row">
        <div class="inner-col">
          <h5><label class="green">Variable B</label></h5>
          <input type="text" class="form-input" name="vb" v-model="inputsForValidation.VariableB">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="inner-col">
          <h5><label class="green">Variable C</label></h5>
          <input type="text" class="form-input" name="vc" v-model="inputsForValidation.VariableC">
        </div>
      </div>
      <div class="row">
        <div class="inner-col">
          <h5><label class="green">Variable D</label></h5>
          <input type="text" class="form-input" name="vd" v-model="inputsForValidation.VariableD">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="image-container row">
          <img :src="imageUrl" alt="image" id="image-preview">
          <div class="overlay" @click="openFileInput"></div>
          <div class="text-overlay">
            <p>Upload Image</p>
          </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <button type="button" class="remove-button" @click.prevent="clearFileInput">Remove Image</button>
        </div>
      </div>
        
        
      <div class="col" style="display: flex;">
        <div class="row">
          <button type="submit" class="submit-button">Submit</button>
        </div>
        <div class="row" style="margin-top: 5px;">
          <a :href="downloadUrl" class="download-link" download="example.xlsx" @click="toastr.info('Downloading...');">
            Download Excel <i class="far fa-save" style="margin: 4px 0px 0px 3px; font-size: 1rem;"></i>
          </a>
        </div>
        <input type="file" @change="onFileChange" ref="fileInput" name="file" hidden>
      </div>
    </div>
      
  </form>
</template>

<style scoped>
  .submit-button, .remove-button {
    background-color: #41B883;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: .5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .submit-button:hover, .remove-button:hover {
    background-color: #00BD7E;
  }

  .image-container img{
    width: 90%;
    height: 13rem;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }

  .image-container:hover .overlay {
    opacity: 1; /* Show the dark overlay on hover */
  }

  .image-container:hover .text-overlay {
    opacity: 1; /* Show the text overlay on hover */
  }

  .form-input{
    padding: .5rem;
    border: none;
    /*border-radius: .5px;*/
    outline: none;
    width: 90%;
  }

  .form-input:focus, .form-input:hover{
    outline: 2px solid #19b570;
  }

  form{
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: .1rem .1rem 5px rgba(0, 0, 0, .1), -.1rem -.1rem 5px rgba(0, 0, 0, .1), .1rem -.1rem 5px rgba(0, 0, 0, .1), -.1rem .1rem 5px rgba(0, 0, 0, .1);
  }

  .row{
    display: inline-flex;
    width: 100%;
  }

  .col-100{
    margin-top: 1.5rem;
    width: 100%;
  }

  .col{
    margin-top: 1.5rem;
    display: inline-flex;
    flex-direction: column;
    column-gap: 10px;
    width: 50%;
  }

  .inner-col{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
  }

  .download-link{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .submit-button, .remove-button{
    width: 90%;
  }
</style>